* 
{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body 
{
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
}
.container 
{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.container .list 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1.3em;
    /* background: red; */
}
.container .list h1 
{
    font-size: 3em;
    background: #03a9f4;
    color: #fff;
    font-weight: 700;
    padding: 1.2em 2.4em;
    text-align: center;
}


/* Add Task */
.container .list .addTask 
{
    margin-top: 30px;
    margin-bottom: 50px;
}
.container .list .addTask input[type="text"] 
{
    font-size: 1.4em;
    color: #03a9f4;
    outline: none;
    border: none;
    border-bottom: 2px solid #03a9f4;
    text-align: center;
}
.container .list .addTask input[type="text"]::placeholder 
{
    color: #03a9f4;
}



/* Display list of task */
.container .list .task 
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 15px;
}

.container .list .task label
{
    font-size: 1.4em;
}
.container .list .task input
{
    transform: scale(1.5);
}

.container .list .task input:hover
{
    cursor: pointer;
}

